<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>226954927439-so3d7n1pmite8cv5vuo1lb36darrtkue.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.226954927439-so3d7n1pmite8cv5vuo1lb36darrtkue</string>
	<key>API_KEY</key>
	<string>AIzaSyA0ZJl_kNfYfXLcWe6iIhQQHFz118_cx04</string>
	<key>GCM_SENDER_ID</key>
	<string>226954927439</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-7ee07</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-7ee07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:226954927439:ios:894ad03cebdbcebebab93a</string>
</dict>
</plist>